<div>
  <%= link_to event_path(event) do %>
    <h3 class="text-primary" style="display: inline"><%= event.name %></h3>
  <% end %>
  <% if event.past? %>
    <button type="button" class="btn btn-sm btn-outline-secondary mb-2" disabled>Past Event</button>
  <% end %>
</div>
<div class="text-danger-emphasis">Location: <i><%= event.location %></i></div>
<div class="mb-3">At: <i><%= format_timestamp(event.starts_at) %></i></div>
<div class="mb-3">Description: <i><%= event.description %></i></div>

<% if show_tickets %>
  <div class="mb-3">Tickets booked: <%= event.tickets.for_user(current_user).count %></div>
<% end %>
