<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-8"><h1>All Events</h1></div>
    <div class="col-4"><%= link_to "Create Event", new_event_path, class: "btn btn-primary" %></div>
  </div>
</div>

<ul class="list-group">
  <% @events.each do |event| %>
    <% cache event do %>
      <li class="list-group-item mb-3" data-uuid="<%= event.id %>">
        <%= render partial: "event_details", locals: { event: } %>
        <% link_text = event.past? ? "View Details" : "Book Now" %>
        <div class="mt-1"><%= link_to link_text, event_path(event.id), class: "btn btn-sm btn-primary" %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= paginate @events %>
