<h1>All Events</h1>

<div class="float-end">
  <%= link_to "Create Event", new_events_path, class: "btn btn-primary" %>
</div>

<% @events.each do |event| %>
  <div>
    <div><h1><%= event.name %></h1></div>
    <div><%= event.location %></div>
    <div><%= event.starts_at %> - <%= event.ends_at %></div>
    <div><%= event.description %></div>
  </ul>
<% end %>
