<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Book My Ticket" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>
    <nav class="navbar navbar-expand-lg bd-primary container-xxl" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand text-primary" href="/">Book My Ticket</a>
        <ul class="navbar-nav">
          <% if current_user.present? %>
            <li class="nav-item">
              <%= link_to "My Events", events_path(filter: { created: true }), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My Bookings", events_path(filter: { booked: true }), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= button_to "Log out", sessions_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign Up", new_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log In", new_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container-xxl">
      <%= yield %>
    </div>
  </body>
</html>
